h2 {
  color: blue;
}

.navbar {
    background-color: #333;
}

.navbar .navbar-brand { 
    color : white; 
}

.navbar .navbar-brand:hover { 
    color : white; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar .navbar-nav li {
  float: left;
}

.navbar .navbar-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .navbar-nav li a:hover {
  background-color: #111;
  color : white;
}

p {
  border: 1px;
  margin: 20px;
  font-family: Times New Roman;
}